
 header{
	display: flex;
	justify-content: space-between;
	background: rgb(202, 233, 239);
	align-items: center;
	padding: 0 12px;
	position: sticky;
	top: 0;
	z-index: 2;
}
	

.name{
	font-weight: bold;
}
nav{
	margin-right: 40px;
}
.nav{
	display: flex;
	align-items: center;
}
.nav ul{
	display: flex;
	list-style-type: none;
	
}

.nav  a{
	text-decoration: none;
	color: #000000;
	padding: 14px;
	
}
nav  a:hover{
	color: rgb(69, 15, 64);
	border: 3px solid rgb(168, 106, 225);
	border-radius: 4px;
	font-weight: bold;
	
}
.logo img{
	width: 60px;
	height: 60px;
	border-radius: 4px;
	align-items: center;
}
 
 body{
	margin:5px 5px 0 5px;
	padding: 0;
	background: url(weathered-concrete.jpg);
	background-size: cover;
	text-align:start;
	
}

.submit{
	width: 60px;
	height: 40px;
	background-color: #09ec2b;
	color: #0f0303;
	border:1px solid #ffffff;
	border-radius: 5px;
	margin-bottom: 10px;
	
}
form a{
	text-decoration: none;
	color: #ffffff;
}
 button:hover {
	
	background-color: hsl(149, 66%, 31%);
 }




 
 footer{
	background: url(solid-navy-blue.jpg);
	color: #ffffff;
	display: flex;
	padding: 40px;
	justify-content: space-between;
	

}
div a{
	text-decoration: none;
	color: #ffffff;
	opacity: 0.9;
}
div a:hover{
	text-decoration: underline;
}	
form div>*{
	display: flex;
	flex-direction: column;
}
form div {
	margin: 20px 0;
}


.youtub{
	width: 3em;
	width: 3em;
	padding: 5px;
	
}
.twitter{
	width: 3em;
	width: 3em;
	padding: 5px;

}


.inst{
	width: 3em;
	width: 3em;
	padding: 5px;

}

