
 header{
	display: flex;
	justify-content: space-between;
	background: rgb(202, 233, 239);
	align-items: center;
	padding: 0 12px;
	position: sticky;
	top: 0;
	z-index: 2;
}
	

.name{
	font-weight: bold;
	text-shadow: 3px 5px 2px rgb(158, 155, 155);
}
nav{
	margin-right: 40px;
}
.nav{
	display: flex;
	align-items: center;
}
.nav ul{
	display: flex;
	list-style-type: none;
	
}

.nav  a{
	text-decoration: none;
	color: #000000;
	padding: 14px;
	
}
nav  a:hover{
	color: rgb(69, 15, 64);
	border: 3px solid rgb(168, 106, 225);
	border-radius: 4px;
	font-weight: bold;
	
}
.logo img{
	width: 60px;
	height: 60px;
	border-radius: 4px;
	align-items: center;
}
 
 body{
	margin: 0;
	padding: 0;
	background: url(weathered-concrete.jpg);
	background-size: cover;
	text-align:start;
	
}
input:focus{
	background-color: rgb(240, 240, 202);

}
textarea{
	width: 15%;
	min-height: 80px;
}



button{
	width: 100px;
	height: 60px;
	background-color: #0ba222;
	color: #0f0303;
	border:2px solid #ffffff;
	border-radius: 8px;
	margin-bottom: 10px;
	margin-left: 10px;
	box-shadow:  0.4em 0.3em rgb(2, 76, 2);
	
	
	
	
	
}
form a{
	text-decoration: none;
	color: #ffffff;
	
}
 button:hover {
	
	background-color: hsl(149, 66%, 31%);
	font-weight: bolder;
	

 }







 

div a{
	text-decoration: none;
	color: #ffffff;
	
}
div a:hover{
	text-decoration: underline;
}	
form div>*{
	display: flex;
	flex-direction: column;
}
form div {
	margin: 15px 15px;
	font-size: 20px;
	
}

footer{
	background: url(solid-navy-blue.jpg);
	color: #ffffff;
	display: flex;
	padding: 40px;
	justify-content: space-between;
	

}


.youtub{
	width: 3em;
	width: 3em;
	padding: 5px;
	
}
.twitter{
	width: 3em;
	width: 3em;
	padding: 5px;

}


.inst{
	width: 3em;
	width: 3em;
	padding: 5px;

}



