
header{
	display: flex;
	justify-content: space-between;
	background: rgb(202, 233, 239);
	align-items: center;
	padding: 0 12px;
	min-height: 130px;
	font-size: 21px;
	margin: o 10px;
	position: sticky;
	top: 0;
	z-index: 2;
}
body{
	margin: 0;
	padding: 0;
}

.name{
	font-weight: bold;
	text-shadow: 4px 4px 2px rgb(158, 155, 155);
}
nav{
	margin-right: 40px;
}
.nav{
	display: flex;
	align-items: center;
}
.nav ul{
	display: flex;
	list-style-type: none;
	
}

.nav  a{
	text-decoration: none;
	color: #000000;
	padding: 14px;
	
}
nav  a:hover{
	color: rgb(69, 15, 64);
	border: 3px solid rgb(168, 106, 225);
	border-radius: 4px;
	font-weight: bold;
	
}
.logo img{
	width: 70px;
	height: 70px;
	border-radius: 20%;
	align-items: center;
	
}
.menu-icon{
	display: none;
}
.vest{
	font-family: Arial, Helvetica, sans-serif;
	color: #05053e;
	width: 85%;
	border: 2px solid grey;
	border-radius: 10px;
	
	
	

}




.vestost{
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 15px;
	margin: 10px 0;
	
}
.vest{
	padding: 20px;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
	  
}


.h1{
	margin-bottom: 10px;
	text-align: center;
}
h2{
	margin-bottom: 10px;
	text-align: center;

}
.par{
	margin-bottom: 10px;
	text-align: justify;
	font-size: 22px;
}


.mainfoto{
	width: 100%;
	height: 100%;
	border-radius: 5px;
	margin-right: 10px;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
	  
	
	
	
}

button{
	width: 120px;
	height: 70px;
	background-color: rgb(14, 132, 183);
	border: 3px solid #fff5ee;
	border-radius: 10px;
	margin-bottom: 15px;
	margin-top: 15px;
	box-shadow: 0.5em 0.3em rgb(177, 175, 175)
	
	
}
section a{
	text-decoration: none;
	color: #ffffff;
}

button:hover{
	background-color: rgb(8, 184, 125);
	color: rgb(52, 6, 6);
	font-weight: bolder;
	border: 3px solid #ffffff;
	
}



 







footer{
	background: url(solid-navy-blue.jpg);
	color: #ffffff;
	display: flex;
	padding: 40px;
	justify-content: space-between;
	

}
div a{
	text-decoration: none;
	color: #ffffff;
	opacity: 0.9;
}
div a:hover{
	text-decoration: underline;
}
.youtub{
	width: 3em;
	width: 3em;
	padding: 5px;
	
	
}
.twitter{
	width: 3em;
	width: 3em;
	padding: 5px;

}


.inst{
	width: 3em;
	width: 3em;
	padding: 5px;

}
@media screen and (max-width:900px)
{
	.nav{
		display: none;
		
		}
		.menu-icon{
			display: block;
		}

	.vestost{
		display: flex;
		flex-direction: column;
	}	
	.mainfoto{
		margin-top: 10px;
		margin-left: 20px;
		
}
footer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
}