
header{
	display: flex;
	justify-content: space-between;
	background: rgb(202, 233, 239);
	align-items: center;
	padding: 0 12px;
	min-height: 130px;
	font-size: 22px;
	position: sticky;
	top: 0;
	z-index: 2;
}
.name{
	font-weight: bold;
	text-shadow: 3px 5px 2px rgb(158, 155, 155);
}
nav{
	margin-right: 40px;
}
.nav{
	display: flex;
	align-items: center;
}
.nav ul{
	display: flex;
	list-style-type: none;
	
}

.nav  a{
	text-decoration: none;
	color: #000000;
	padding: 14px;
	
}
nav  a:hover{
	color: rgb(69, 15, 64);
	border: 3px solid rgb(168, 106, 225);
	border-radius: 4px;
	font-weight: bold;
	
}
.logo img{
	width: 70px;
	height: 70px;
	border-radius: 4px;
	align-items: center;
}

body{
	margin: 0;
	padding: 0;
	background: url(weathered-concrete.jpg);
	background-size: cover;
	
	
	
	
}
.column{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.column1{
	width: 50%;
	height: 85%;
	background-color:rgb(221, 221, 244);
	border: 2px solid #000000;
	padding: 30px;
	margin: 10px;
	text-align: center;
	border-radius: 15px;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
.column2{
	width: 50%;
	height: 85%;
	background-color:rgb(221, 221, 244);
	border: 2px solid #000000;
	padding: 30px;
	margin: 10px;
	text-align: center;
	border-radius: 15px;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
	
}
.column3{
	width: 50%;
	height: 85%;
	background-color:rgb(221, 221, 244);
	border: 2px solid #000000;
	padding: 30px;
	margin: 10px;
	text-align: center;
	border-radius: 15px;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
	
}
.sem{
	text-decoration: underline;
	color: #710f71;
	padding: 15px;
	margin: 10px;
}

h2{
	text-shadow: 1px 1px 5px rgb(117, 116, 116);
}
	






footer{
	background: url(solid-navy-blue.jpg);
	color: #ffffff;
	display: flex;
	padding: 40px;
	justify-content: space-between;

}
div a{
	text-decoration: none;
	color: #ffffff;
	opacity: 0.9;
}
div a:hover{
	text-decoration: underline;
}
.youtub{
	width: 3em;
	width: 3em;
	padding: 5px;
	
}
.twitter{
	width: 3em;
	width: 3em;
	padding: 5px;

}


.inst{
	width: 3em;
	width: 3em;
	padding: 5px;

}
